<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.snow.springcloud.userservice.mapper.UserMapper">
    <resultMap id="resultBaseMap" type="io.snow.model.vo.UserVo">
        <id property="id" column="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="profile" jdbcType="VARCHAR" property="profile"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="emile" jdbcType="VARCHAR" property="emile"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="last_modified_by" jdbcType="VARCHAR" property="lastModifiedBy"/>
        <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate"/>
        <collection property="authorities" ofType="io.snow.model.vo.RoleVo">
            <result column="id" property="id"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <result column="code" jdbcType="VARCHAR" property="code"/>
            <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
            <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
            <result column="last_modified_by" jdbcType="VARCHAR" property="lastModifiedBy"/>
            <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate"/>
            <collection property="roleApis" ofType="io.snow.model.vo.ApiVo">
                <result column="id" property="id"/>
                <result column="path" jdbcType="VARCHAR" property="path"/>
                <result column="description" jdbcType="VARCHAR" property="description"/>
                <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
                <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
                <result column="last_modified_by" jdbcType="VARCHAR" property="lastModifiedBy"/>
                <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate"/>
            </collection>
        </collection>
    </resultMap>


    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="io.snow.model.vo.UserVo">
        insert into user(
        user_name,
        password,
        phone_number,
        profile,
        gender,
        emile,
        created_by,
        created_date,
        last_modified_by,
        last_modified_date
        )values(
        #{userName},
        #{password},
        #{phoneNumber},
        #{profile},
        #{gender},
        #{emile},
        #{createdBy},
        #{createdDate},
        #{lastModifiedBy},
        #{lastModifiedDate}
        )
    </insert>

    <insert id="saveUserAndRole" parameterType="HashMap">
        insert into user_role values(#{user.id},#{role.id})
    </insert>


    <select id="findUserByUserName"  resultMap="resultBaseMap">
        SELECT
            u.*, r.* , p.*
        FROM
            USER u
        LEFT JOIN user_role ur ON u.id = ur.user_id
        LEFT JOIN role r ON r.id = ur.role_id
        LEFT JOIN role_apis ra on ra.role_id = r.id
        LEFT JOIN api_entity p on ra.api_id = p.id
        WHERE
            u.user_name = #{userName};
    </select>

    <select id="loadUserWithPermission" resultMap="resultBaseMap">
        SELECT
            u.*, r.* ,p.*
        FROM
            USER u
        LEFT JOIN user_role ur ON u.id = ur.user_id
        LEFT JOIN role r ON r.id = ur.role_id
        LEFT JOIN role_privilege rp ON rp.role_id = r.id
        LEFT JOIN permission p ON rp.permission_id = p.id
        WHERE
            u.user_name = #{userName};
    </select>
</mapper>